/* =========================================
                Mobile Menu
============================================ */

.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    font-size: 30px;
    color: #077DB3;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 6px;
    /* hide mobile nav open btn */
    display: none;
}

#mobile-nav {
    /* by default, mobile nav will be hidden with height 0% */
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li {
    margin-bottom: 20px;
}

#mobile-nav a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #077DB3;
    background: none;
}


/* Mobile nav scroll spy active state */

.white-nav-top #mobile-nav ul.nav>li.active>a {
    color: #077DB3;
    font-weight: 500;
}
   
/*==================================================
			Bootstrap 3 Media Queries        
==================================================*/


/* Large Devices (Desktops & Laptops) */
@media (min-width: 1300px) and (max-width: 1399px) {
    .about-item
    {
        height:600px !important;
    }
    
}

@media (min-width: 1200px) and (max-width: 1299px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0 20px;
    }
    #about-bg-diagonal2 {
        width: 58% !important;
    }
    #product-container
    {
        margin-right: -49px;
    }
    .about-item
    {
        height:600px !important;
    }
    
    
    
    
    
    
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    /* Navigation */
  
    
    
    
    .site-nav-wrapper {
        padding: 0;
    }
    /* Generic */
    .vertical-heading h2 {
        font-size: 29px;
    }
    #about-bg-diagonal2 {
        width: 53% !important;
       
    }
 
    #google_translate_element
    {
        top: 17px; !important;
    }
    /* About */
    #about-bg-diagonal {
    width: 62%;
    height: 1250px;
    float: right;
    background-image: url(../images/sides/about.png);
    border-left: 30px solid #fff;
    border-top: 700px solid transparent;
    background-position:269px 50px;
    }
    .contact_section_2
    {
        margin-top:50px;
    }
    #about-content-box {
        float: left;
        height: 1250px;
    }
    /* Product-Range */
    #about-bg-diagonal2
    {
            border-left: 0;
            border-top: 0;
            height: 800px;
            background-position: 0px;
    }
    #product-container
    {
        margin-right: -70px;
    }
    .about-item
    {
        height:600px;
    }

   
}


@media(min-width:768px) and (max-width:991px)
    {
        /* About us */
        #about-team-table > table>thead>tr>th
        {
            font-size: 28px
        }
        p
        {
            font-size:30px;
            line-height: 40px;
        }
        .first-letter
        {
            font-size: 38px;
        }
        /* stats para */
        .stats-item p
        {
            font-size: 14px;
        }
        .site-nav-wrapper
        {
            padding: 0;
        }
        /* product-range table */
        .table-bordered>tbody>tr>td 
        {
            font-size: 25px;
        }
        /* contact */
        p.contact_details_title {
        font-size: 35px;
        color: #fff;
        margin-bottom: 10px;
        font-weight: bold;
        letter-spacing: 2px;
        }
        /* Navigation */
        .nav>li>a 
        {
        position: relative;
        display: block;
        padding: 5px 10px;
        }
    
        
        /* About */
        #about-bg-diagonal
        {
            border-left: 0;
            border-top: 0;
            width: 100%;
            height: 600px;
            background-position: 0px;
        }
        #about-content-box
        {
            width: 100%;
            height: 1600px;
        }
        #about-content-box-inner
        {
            display: initial !important;
        }
        
        /* Product-Range */
        #about-bg-diagonal2
        {
            border-left: 0;
            border-top: 0;
            width: 100%;
            height: 400px;
            background-position: 0px;
        }
        #about-content-box2
        {
            width: 100%;
            height: 1000px;
        }
        #about-content-box-inner2
        {
            display: initial !important;
        }
        #product-container
        {
            margin-right: 0px;
        }
        /* Infrastructure */
        #about-bg-diagonal3
        {
            border-left: 0;
            border-top: 0;
            width: 100%;
            height: 400px;
            background-position: 0px;
        }
        #about-content-box3
        {
            width: 100%;
            height: 700px;
        }
        #about-content-box-inner3
        {
            display: initial !important;
        }
        /* Stats */
        .stats-item
        {
        width: 184px;
        height: 190px;   
        }
        .stats-item p {
        line-height: 18px;
        }

        .contact_section_2
        {
            margin-top: 50px;
        }
        .about-item
        {
            height: 683px;
        }
        #footer_text
        {
            font-size: 20px;
        }
        .about-company-name {
        font-weight: bold;
        font-size: 25px;  
        }
        

}


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */

@media(max-width: 767px) {
    /* Navigaiton */
    .navbar {
        padding: 20px 0;
/*        height: 100px;*/
    }
    .site-nav-wrapper,
    .white-nav-top {
        padding: 0;
    }
    /* show mobile nav open btn */
    #mobile-nav-open-btn {
        display: block;
        
    }
    .navbar-brand img
    {
        margin-top: -75px;
    }
    .slider-para{
        font-size: 30px !important;
        line-height: 34px !important;
    }
    .slider ul.slider_carousel li a
    {
	padding: 15px 30px;
	margin-right: 30px;
	color: #fff;
	font-weight: bold;
    font-size: 20px;
	transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
    letter-spacing:1px;
    border-radius: 30px;
    }
   
    /* About */
        #about-bg-diagonal
        {
            border-left: 0;
            border-top: 0;
            width: 100%;
            height: 600px;
            background-position: 0px;
        }
        #about-content-box
        {
            width: 100%;
            height: 1200px;
            
        }
        #about-content-box-inner
        {
            display: initial !important;
        }
      /* Product-Range */
        #about-bg-diagonal2
        {
            border-left: 0;
            border-top: 0;
            width: 100%;
            height: 800px;
            background-position: 0px;
        }
        #about-content-box2
        {
            width: 100%;
            height: 800px;
        }
        #about-content-box-inner2
        {
            display: initial !important;
        }
         #product-container
        {
            margin-right: 0px;
            padding-top: 30px;
        }

    
    /* Infrastructure */
    #about-bg-diagonal3 {
        border-left: 0;
        border-top: 0;
        width: 100%;
        height: 500px;
        background-position: 0px;
    }
    #about-content-box3 {
        width: 100%;
        height: 500px;
    } 
    #about-content-box-inner3
    {
        display: initial !important;
    }
    
    
    /* Our Products */
    .about-item {
        padding: 55px 20px;
        margin-bottom: 35px;
    }
    .about-item img {
        font-size: 30px;
    }
    .about-item h3 {
        font-size: 22px;
    }
    .slider ul.slider_carousel li a.cta1{
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 20px;
    }

    .slider ul.slider_carousel li a.cta2{
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 20px;
    }
    #products
    {
        margin-top: -100px;
    }
    #about-content-box2 {
        width: 100% !important;
        margin-top: -37px;
        
    }
    #stats
    {
        margin-top: -100px !important;
        
    }
    .stats-item
    {
        margin-bottom: 10px !important;
    }
   
    
    #footer{
        text-align: center;
    }
    
    #map {
        width: 580px !important;
    }
    
    .icon-bar
    {
        display: none;
    }
    
    #footer_bottom p
    {
        margin-left: -188px;
    }
    .contact_section_2
    {
        margin-top:50px;
    }
    
    
    
    
    
    
    
    
    
    
}

@media(max-width:600px)
{
    .slider ul.slider_carousel li a.cta1{
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 20px;
    }

    .slider ul.slider_carousel li a.cta2{
        font-size: 16px;
        letter-spacing: 1px;
        border-radius: 20px;
    }
    #footer_text
    {
        font-size: 10px;
    }
 
    
    
    
}



/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 480px) {
     .slider-para{
        font-size: 25px !important;
        line-height: 29px;
    }
    .slider ul.slider_carousel li a
    {
	padding: 10px 25px;
	margin-right: 30px;
	color: #fff;
	font-weight: bold;
    font-size: 16px;
	transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
    letter-spacing:1px;
    border-radius: 20px;
    }
    /* ABout */
    #about-bg-diagonal {
        border-left: 0;
        border-top: 0;
        width: 100%;
        height: 350px;
    }
    #about-content-box {
        width: 100%;
        margin-top: -130px;
    }   
    
    #about-bg-diagonal2 {
        border-left: 0;
        border-top: 0;
        width: 100%;
        height: 350px;
    }
    #about-content-box2 {
        width: 100%;
        margin-top: -35px;
    } 
    
    #about-bg-diagonal3 {
        border-left: 0;
        border-top: 0;
        width: 100%;
        height: 350px;
    }
    #about-content-box3 {
        width: 100%;
        margin-top: -180px !important;
    }  
    
}
/*

@media (max-width: 530px)
{
    .slider ul.slider_carousel li a.cta1{
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 20px;
    }

    .slider ul.slider_carousel li a.cta2{
        font-size: 16px;
        letter-spacing: 1px;
        border-radius: 20px;
    }
    #map
    {
        width: 469px !important;
    }
     #about-content-box {
        width: 100%;
        margin-top: -100px;
    } 
    #about-content-box3 {
        width: 100%;
        margin-top: -160px !important;
    }  
    
    
    
}

*/


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 320px) {
    /* About */
}